/* footer{
    margin: 0;
    background-color: #2d2d2e;
} */
footer {
    margin: 0;
    background-color: #2d2d2e;


}
.conatiner .text-center .top{

}
img{
    height: 60px;
}

p{
    font-size: 20px;
    color: #acb6c5
}