header {
  height: 12vh;
  line-height: 10vh;
  box-shadow: -1px 11px 24px -11px rgba(0, 0, 0, 0.75);

  /* background-color: #7172a5; */
}
header .container {
  padding-top: 15px;
  padding-bottom: 15px;

}
header ul li {
  margin-left: 30px;
}
header ul li a {
  transition: 0.5s;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 3px;
}
header ul li a:hover {
  color: #ff014f;
}

header img{
  height: 80px;
  padding-top: 15px;
  padding-bottom: 30px;

}
.home-btn {
  padding: 18px 25px;
  border-radius: 6px;
  transition: 0.3s all ease;
  cursor: pointer;
  height: fit-content;
  color: #ff014f;
}
.home-btn {
  background: linear-gradient(145deg, #e2e8ec, #ffffff);
  box-shadow: 4px 4px 8px #cbcbcb, -4px -4px 8px #ffffff;
}
.home-btn:hover {
  background: #ff014f;
  color: white;
}
.open {
  display: none;
}
.header.active {
  height: 12vh;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  background-color: #ecf0f3;
  box-shadow: -1px 11px 24px -11px rgba(0, 0, 0, 0.75);
  transition: 0.5s;
  
}
.header .logo span{
  display: none;
}
.header.active .logo span{
  display: contents;
  margin: 9px;
  font-size: 15px;

  
}

@media (max-width: 768px) {
  header ul {
    padding-top: 30px;
  }
  .nav-links-mobile {
    position: absolute;
    display: block;
    list-style: none;
    box-shadow: rgba(50, 50, 93, 0.23) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    left: 0;
    top: 0;
    transition: all 0.5s ease-in-out;
    width: 60%;
    height: 100vh;
    background-color: white;
    z-index: 888;
  }
  header ul li {
    width: 100%;
    transition: all 0.5s ease-in-out;
    text-transform: uppercase;
    line-height: 70px;
  }
  header .link {
    display: none;
  }
  .close,
  .open {
    position: absolute;
    top: 35px;
    right: 20px;
    color: #ff014f;
    display: block;
    font-size: 25px;
    z-index: 999;
  }
  .close {
    right: 45%;
  }
  .close.home-btn {
    background: linear-gradient(145deg, #e2e8ec, #ffffff);
    color: #ff014f;
    border-radius: 50%;
    padding: 0;
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
  .header.active {
    height: 10vh;
  }
}

.navlist ul{
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  display: flex;
    flex-direction: column;
    background: white;
    width: 13%;
}
.navlist ul  li{
  float: left;
  margin-top: 20px;
}
.navlist ul li a{
  width: 150px;
  color: white;
  display: block;
  text-decoration: none;
  font-size: 20px;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
}
.navlist ul a:hover{
  background-color: #669900;
}
.navlist ul li ul{
  background: #cbcbcb;
}
.navlist ul li ul{
  display: none;
}

.navlist ul li:hover ul{
  display: none;
}

.dropbtn {
  
  font-size: 16px;
 letter-spacing: 3px;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
  
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.2);
  z-index: 1;
  /* border-radius: 14px; */
}

.dropdown-content a {
  color: black;
  padding: 3px 3px;
  text-decoration: none;
  display: block;
  font-size: 13px;
  margin: 0;
}

/* .dropdown-content a:hover {background-color: #f1f1f1} */

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  /* background-color: #ff014f; */
}

.dropdown-contents {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 250px;
  width: 100%;
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.2);
  z-index: 1;
  /* border-radius: 14px; */
  
}
.dropdown-contents a {
  color: black;
  padding: 3px 3px;
  text-decoration: none;
  display: block;
  font-size: 13px;
  margin: 0;
}
.dropdown:hover .dropdown-contents {
  /* display: block; */
  display: flex;
  flex-direction: row;
  width: 60vw;
  left: -608.25px;
  justify-content: space-evenly;

}
